.Cart-div {
  height: 100%;
  background-color: #ecf2ff;
  width: 40%;
  position: fixed;
  z-index: 100;
  border: 1px solid gray;
  overflow-y: scroll;
  top: 60px;
}
.Cart-div::-webkit-scrollbar {
  display: none;
}
