.LoginBTN-div {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}
.LoginBTN-div button {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-family: roboto;
}
.LoginBTN-div_loginBTN {
  background-color: #6da9e4;
}
.LoginBTN-div_newAccBTN {
  background-color: #b0daff;
}
