.ChangePasswordRight-div {
  background: rgb(135, 200, 230);
  background: linear-gradient(
    90deg,
    rgba(135, 200, 230, 1) 38%,
    rgba(124, 135, 231, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChangePasswordRight_form {
  width: 90%;
  height: 90%;
  background-color: #daf5ff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.ChangePasswordRight_form img {
  width: 100px;
}
.ChangePasswordRight_form_div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ChangePasswordRight_form_div button {
  padding: 10px 30px;
  width: fit-content;
  margin: 20px 0px;
  border: none;
  background-color: #b3b6de;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px blue;
}
