.Login-div_leftSide {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(
    45deg,
    #b5b6cd,
    #b3b6de 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login-div_leftSide div {
  width: fit-content;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}
.Login-div_leftSide div h1 {
  font-size: 60px;
  font-family: poppins;
  text-shadow: 2px 2px 5px wheat;
}
.Login-div_leftSide div p {
  font-family: poppins;
  font-weight: 700;
  text-shadow: 2px 2px 5px wheat;
}
