.CartDetails-div {
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: roboto;
  border-bottom: 15px solid rgba(128, 128, 128, 0.178);
}
