.ProductContainer_container {
  margin-left: 20px;
}
.ProductContainer-chatagorie {
  padding: 20px 10px;
  font-family: roboto;
}
.ProductContainer-div {
  display: flex;
  font-family: poppins;
  gap: 10px;
}
