.PrimaryHeader-div {
  width: 100%;
  background-color: #2a2f4f;
  height: 60px;
}

.PrimaryHeaderItemContainer {
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 1fr 0.3fr;
  align-items: center;
}
