.PrimaryHeader-div {
  background-color: #2a2f4f;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
}

.PrimaryHeaderItemContainer {
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 1fr 0.3fr;
  align-items: center;
  margin: 0px 20px;
}
